
# Local folders
adhoc             
bin
fig
logs
output
raw-data
raw-simulations
fig-manual

test.sh

# Data files
*.pdf
*.tsv

# Various intermediate files
.DS_Store
.ipynb_checkpoints
.snakemake
._*
__pycache__
*~undo-tree~
