
# Local folders
adhoc             
bin
fig
output
raw-data
raw-simulations
fig-manual

# Data files
*.pdf
*.tsv

# Various intermediate files
.DS_Store
.ipynb_checkpoints
.snakemake
__pycache__
*~undo-tree~
